/** Copyright (C), DeltaSync Studios, 2010-2013. All rights reserved.
 * ------------------------------------------------------------------
 * File name:   password-confirm.css
 * Version:     v1.00
 * Created:     00:01 / 11.05.14
 * Author:      Delta54 <support@e154.ru>
 *
 * This file is part of the CMS engine (http://e154.ru/).
 *
 * Your use and or redistribution of this software in source and / or
 * binary form, with or without modification, is subject to: (i) your
 * ongoing acceptance of and compliance with the terms and conditions of
 * the DeltaSync License Agreement; and (ii) your inclusion of this notice
 * in any version of this software that you use or redistribute.
 * A copy of the DeltaSync License Agreement is available by contacting
 * DeltaSync Studios. at http://e154.ru/
 *
 * Description:
 * ------------------------------------------------------------------
 * History:
 *
 */

.password-strength
  width 100%
  float right
  margin-top 1.4em

.password-strength-title
  display inline

.password-strength-text
  float right
  font-weight bold

.password-indicator
  background-color #C4C4C4
  height 0.3em
  width 100%
  div
    height 100%
    width 0%
    background-color #47C965

input.password-confirm,
input.password-field
  width 16em
  margin-bottom 0.4em

.password-confirm
  float right
  margin-top 1.5em
  visibility hidden
  width 100%
  span
    &.error
      display inline
      padding .375rem .5625rem .5625rem
      margin-top -1px
      margin-bottom 1rem
      font-size .75rem
      font-weight 400
      font-style italic
      background none
      color #f04124
    &.ok
      display inline
      padding .375rem .5625rem .5625rem
      margin-top -1px
      margin-bottom 1rem
      font-size .75rem
      font-weight 400
      font-style italic
      background none
      color #008cba

#strength-recommendation
  ul
    margin 0 0 0 1.1rem

